body{
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
    color: #222222;
}

a:hover{
    text-decoration: underline;
    cursor: pointer;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header-top{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: white;
    padding-bottom: 50px;
}

.header-top a{
    color: inherit;
}

header{
    background-image: linear-gradient(to right, #fc0404, #4705fc);
    padding: 1.5em 2em;
} 

header h1{
    margin-top: 0;
    font-size: 1.6em;
}

nav{
    display: flex;
    justify-content: center;
}

nav > a{
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
    color: rgba(255,255,255,0.5);

}

/*body*/
.flex{
    display: flex;
    justify-content: space-between;
}

.flex,
.row{
    display: flex;
}

.row{
    margin-right: -10px;
    margin-left: -10px;
}


.col{
    flex: 1;
    padding: 10px;
}

.box{
    background: #e3e3e3;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
